@import 'bootstrap';
@import '_navbar';
@import '_footer';

td {
	padding: 10px;
}

table {
	border-spacing: 10px;
	border-collapse: separate;
}


.add_new_project {
	display: none;
	/*display: block;*/
}